@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@700&display=swap');


body {
    margin: 0px;
    font-family: 'Ubuntu', sans-serif;
    display: grid;
    grid-template-columns: 160px auto;
    background-color:#181818;
    color: white;
}

h1{ 
    font-size: 4em;
    font-weight: bold;
    color: white;
    margin: 10px 0;
}

h2 {
    color: #bebebe;
}

h3 {
    color:#181818;
    font-size: 1.6em;
    margin: 10px 0;
}

p {
    font-size: 1.2em;
}

.nav-container {
    display: flex;
    justify-content: right;
    position: sticky;
    top: 0;
    height: 100vh;
    background-color: #181818;
}

.nav-list {
    padding: 10vh 30px 0 0;
    margin: 0px;
    text-align: right;
}

#home-icon-container {
    
}

#home-icon {
    fill:#bebebe;
    height: 25px;
}

#home-icon:hover {
    fill:white;
}

.list-item {
    list-style: none;
    margin: 0 0 40px 0;
}

a {
    text-align: right;
    color: #bebebe;
    transition: color .2s;
    text-decoration: none;
}

a:hover {
    color: white;
    cursor: pointer;
}

main { 
    height: 100vh;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
}

#home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    scroll-snap-align: center;
}

.splash-text {
    translate: -40px;
}

.splash-title {
    display: flex;
    flex-direction: row;
}

.cursor {
    height: 28px;
    width: 12px;
    background-color: white;
    margin: 18px 5px;
    animation: cursor 1.2s step-start infinite;
}

.icons-container {
    display: grid;
    grid-template-columns: 130px 130px 130px;
    align-items: center;
    margin: 30px 0;
}

.icon {
    height: 30px;
    text-align: left;
}

.container-white {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 10vw;
    background-color: #f1f1f1;
    height: 100vh;
    scroll-snap-align: center;
    color:#181818
}

.container-dark {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 10vw;
    background-color: #181818;
    height: 100vh;
    scroll-snap-align: center;
}

.projects-grid{

}

.project {
    
}

@keyframes cursor {
    from, to { background-color: transparent }
    50% { background: white; }
  }

/* make dark grey backgroudn with blinking cursor */